<div class="container">
  <h4>Cerca una carta:</h4>

  <div class="input-group mb-3">
    <input type="text" class="form-control" #query placeholder="Search">
    <div class="input-group-append">
      <button class="btn btn-primary" (click)="submit(query)">Invio</button>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let card of results.data" class="col-md-4 col-sm-6 mb-3">
      <a [routerLink]="['/carta', card.id]" class="text-decoration-none">
        <div class="card h-100">
          <img src="{{card.images.small}}" [alt]="card.name" class="card-img-top img-fluid">
          <div class="card-body">
            <h5 class="card-title">{{card.name}}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
