<h2>Carte Poemon</h2>
<div class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item nav-link" routerLink="/carta/xy1-1" routerLinkActive="active-menu">Carta 1</li>
    <li class="nav-item nav-link" routerLink="/carta/sm11-235" routerLinkActive="active-menu">Carta 2</li>
    <li class="nav-item nav-link" routerLink="/carta/3" routerLinkActive="active-menu">Carta 3</li>
    <li class="nav-item nav-link" routerLink="/carta/4" routerLinkActive="active-menu">Carta 4</li>
    <li class="nav-item nav-link" routerLink="/carta/5" routerLinkActive="active-menu">Carta 5</li>
  </ul>
</div>
<router-outlet></router-outlet> 
